---
---
body {
  background-color: green;
}
.panel:first-child {
  margin-top: 20px;
}
.btn-points {
  margin: 10px auto;
  display: block;
  font-size: 2em;
  margin-bottom:1em;
  border-radius: 0.5em;
  &.selected {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    &.zero-point {
      background-color: #aaa;
      border-color: #bbb;
    }
  }
}
#session-id {
  text-transform: uppercase;
}
.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  .btn-points {
    width: 100px;
    height: 100px;
    margin: 20px;
  }
}

@media (min-width: 1200px) {
  .button-grid .btn-points {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 820px) {
  .button-grid .btn-points {
    width: 85px;
    height: 85px;
    margin: 15px;
  }
}