<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="expires" content="0"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.root }}/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.root }}/css/common.css">

{% for style in layout.styles %}
  {% if style.base %}
  <link rel="stylesheet" type="text/css" href="{{ style.base }}{{ style.src }}">
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ site.root }}{{ style.src }}">
  {% endif %}
{% endfor %}

{% for style in page.styles %}
  {% if style.base %}
  <link rel="stylesheet" type="text/css" href="{{ style.base }}{{ style.src }}">
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ site.root }}{{ style.src }}">
  {% endif %}
{% endfor %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-104166395-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

{{ content }}

{% for script in layout.scripts %}
  {% if script.base %}
  <script src="{{ script.base }}{{ script.src }}"></script>
  {% else %}
  <script src="{{ site.root }}{{ script.src }}"></script>
  {% endif %}
{% endfor %}

{% for script in page.scripts %}
  {% if script.base %}
  <script src="{{ script.base }}{{ script.src }}"></script>
  {% else %}
  <script src="{{ site.root }}{{ script.src }}"></script>
  {% endif %}
{% endfor %}
</body>
</html>